.site-main {
  background: rgb(245, 173, 146);
  background: linear-gradient(
    180deg,
    rgba(245, 173, 146, 1) 0%,
    rgba(118, 94, 141, 1) 35%,
    rgba(0, 87, 127, 1) 100%
  );
}

.site-main-wrapper {
  margin: 300px auto;
  display: flex;
  justify-content: center;
  gap: 100px;
  align-items: center;
}
.sites {
}
.sites__link {
  width: 250px;
  height: 250px;
  background-color: #f5ad92;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 35px;
  font-weight: bold;
  color: #f5f5f5;
  transition: 0.5s ease;
  &:hover {
    transform: scale(1.1);
    opacity: 0.6;
  }
}

.sites__link:last-child {
  background-color: #1b356e;
}